/*ESTILOS GLOBALES*/

*{
margin:0;
padding:0;
box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
}

/*ESTILOS ID*/
#logo-codesign


/*ESTILOS CLASES*/
.menuitems{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight:lighter;
    font-size: 15px;
    text-decoration: none;
}

.navbar{
    width:100%;
    height: 8vh;
    background-color: #161615;
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 16px;
    margin: 0 16px;
}

.menu{
    grid-column: 9/12;
}