/*Variables - Paleta Cromática*/

:root {
    --yellow: #F3B200;
    --gray: #161615;
    --light: 300;
    --regular: 400;
    --medium: 500;
    --semibold: 600;
    --bold: 900;
}

/*Estilo Global*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

* img {
    width: 100%;
    height: auto;
}

body {
    width: 100vw;
    max-width: 100%;
    max-height: 100%;
    font-family: 'Poppins', sans-serif;
    background-color: #000;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

nav {
    width: 90%;
}

main {
    width: 100%;
    height: 100%;
}

/*Media Queries*/

/*Header*/
@media (min-width: 1200px) {
    header {
        display: flex;
        justify-content: center;
        padding: 1rem 1rem;
        background: var(--gray);
    }

    #logo-codesign {
        width: 100%;
    }

    #navbar ul {
        list-style: none;
    }

    #navbar ul li a {
        font-size: 17px;
        font-weight: var(--regular)
    }

    .checkbutton {
        display: none;
    }

    ul {
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: center;
        align-content: center;
    }

    #check {
        display: none;
    }

    .checkbutton {
        color: var(--yellow);
    }

    #logo-codesign {
        width: 114px;
    }

    #navbar {
        width: 100%;
    }

    .menuitems {
        font-family: 'Poppins', sans-serif;
        color: white;
        font-weight: lighter;
        font-size: 15px;
        text-decoration: none;
        margin: 20px;
        font-weight: 300;
    }

    #navbar a {
        background-image: linear-gradient(
          to right,
          #F3B200,
          #F3B200 50%,
          white 50%
        );
        background-size: 200% 100%;
        background-position: -100%;
        display: inline-block;
        padding: 5px 0;
        position: relative;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: all 0.3s ease-in-out;
      }
      
      #navbar a:before{
        content: '';
        background: #F3B200;
        display: block;
        position: absolute;
        bottom: -3px;
        left: 0;
        width: 0;
        height: 3px;
        transition: all 0.3s ease-in-out;
      }
      
      #navbar a:hover {
       background-position: 0;
      }
      
      #navbar a:hover::before{
        width: 100%;
      }

    /*Hero Section*/

    .hero {
        display: flex;
        flex-direction: row;
    }

    .foto-hero img {
        width: 700px;
    }

    .info-hero {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        width: 600px;
        margin-left: 5%;
    }

    .info-hero h1 {
        font-size: 105px;
        color: white;
        font-weight: 600;
        margin-bottom: -6%;
    }

    .info-hero h2 {
        font-size: 105px;
        color: var(--yellow);
        font-weight: 600;
        margin-left: 23%;
    }

    .info-hero h3 {
        font-size: 25px;
        text-align: left;
        font-weight: 300;
        margin-bottom: 2%;
        color: white;
        max-width: 80%;
    }

    /*Services Section */

    .description__section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: var(--white);
        padding: 5% 0;
    }

    .description__section h2 {
        font-size: 45px;
        font-weight: 600;
        text-align: center;
        color: var(--yellow);
        margin-bottom: 2rem;
    }

    .description__section h3 {
        font-size: 25px;
        text-align: center;
        font-weight: 300;
        margin-bottom: 2%;
        color: white;
    }

    .description__section h4 {
        font-weight: 500;
        font-size: 20px;
        text-align: center;
        margin-bottom: 4%;
        color: white;
    }

    .info-card {
        width: 40%;
        margin-bottom: 8%;
    }

    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 2% 0;
        padding: 20px;
    }

    .grow {
        transition: all .2s ease-in-out;
        width:40%;
    }

    .grow:hover {
        transform: scale(1.1);
    }

    .card p {
        max-width: 290px;
        text-align: center;
        font-size: 16px;
        line-height: 1.2em;
        color: white;
    }

    .card__container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    /*Contact*/

    .contact__container {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-wrap: wrap;
    }

    #h2contact {
        width: 100%;
    }

    .contact__section {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: white;
        padding: 0;
    }

    .contact__section h2 {
        font-size: 45px;
        font-weight: 600;
        text-align: center;
        color: var(--yellow);
        margin-bottom: 2%;
    }

    .contactinfo__container {
        width: 35%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .contactinfo {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .info-icon {
        width: 13%;
        padding: 2%;
    }

    .contactinfo p {
        max-width: 290px;
        text-align: center;
        font-size: 16px;
        line-height: 1.2em;
        color: white;
    }

    .contactform__container {
        width: 40%;
    }

    #contact-form {
        display: flex;
        flex-direction: column;
        align-content: center;
        flex-wrap: nowrap;
        justify-content: center;
    }

    .fields {
        background-color: var(--gray);
        border-bottom: 1px solid white;
        border-top: 0;
        border-right: 0;
        border-left: 0;
        margin-bottom: 4%;
        font-family: 'Poppins', sans-serif;
        color: white;
    }

    #submitbutton {
        background-color: var(--yellow);
        font-family: 'Poppins', sans-serif;
        font-size: 15px;
        color: white;
        border: none;
        padding: 1%;
        width: 30%;
    }

    ::placeholder {
        color: white;
        font-family: 'Poppins', sans-serif;
    }

    /*FOOTER*/
    footer {
        display: flex;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        padding: 5% 0 0 0;
    }

    footer h4 {
        color: white;
        font-weight: 200;
        font-size: 13px;
    }

    .socialmedia {
        text-align: end;
    }

    .socialmedia img {
        width: 5%;
        padding: 0 1%;
    }
}


/*MOBILE*/

/*Header*/
@media (max-width: 480px) {
    header {
        display: flex;
        justify-content: center;
        padding: 1rem;
        background: var(--yellow);
    }

    #logo-codesign {
        width: 25%;
    }

    #check {
        display: none;
    }

    .checkbutton {
        display: block;
        float: right;
    }

    .menuitems {
        position: fixed;
        width: 100%;
        text-align: center;
    }

    #navbar ul li a {
        font-size: 15px;
    }

    #navbar ul {
        position: fixed;
        width: 100%;
        background-color: var(--gray);
        display: none;
    }

    /*Section Hero*/

    .hero {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .foto-Hero img {
        display: none;
    }

    .info-hero {
        margin-left: 0px;
        width: 100%;
    }

    .info-hero h1 {
        font-size: 65px;
    }

    .info-hero h2 {
        font-size: 60px;
        margin-left: 0px;
    }

    .info-hero h3 {
        font-size: 25px;
        text-align: center;
        font-weight: 300;
        margin-bottom: 2%;
        color: white;
    }

    .button-hero {
        display: flex;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}




/*Estilos Section Hero*/


.hero {
    display: flex;
}

.foto-hero img {
    width: 700px;
}

/*.info-hero {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 600px;
    margin-left: 5%;
}
*/

.button-hero {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
}

#about-me {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: white;
    border: 1px solid white;
    margin-top: 5%;
    background-color: transparent;
    width: 250px;
    height: 70px;
}

#about-me:hover {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: black;
    margin-top: 5%;
    background-color: white;
    border: 1px solid white;
    width: 250px;
    height: 70px;
    cursor: pointer;
}

#contact {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: black;
    margin-top: 5%;
    background-color: white;
    border: 1px solid white;
    width: 250px;
    height: 70px;
}

#contact:hover {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: white;
    border: 1px solid white;
    margin-top: 5%;
    background-color: transparent;
    width: 250px;
    height: 70px;
    cursor: pointer;
}

/*Description Section*/

.description {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.description p {
    font-family: 'Poppins', sans-serif;
    font-size: 21px;
    font-weight: 300;
    color: white;
    line-height: 1.4em;
    width: 80%;
    margin-top: 2%;
}
